#CartPageMainDiv {
  background-color: rgb(253, 242, 242);
  border-radius: 3px;
  border-style: groove;

}

#CartTitle {
  
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#CartTableHeadingDiv {
  font-weight: 500;
  font-size: 18px;
}

#CartFooterFont{
  
  font-weight: 600;
  font-size: 30px;
}

#CartFooterDiv{
  
  border-style: groove;
}